.welcome {
    padding: 5em 4em;
}

.welcome img{
    height: 5%;
    width: 5%;
}

.big{
    font-size: 36px;
    font-weight: 400;
    padding: 0.5em 0;
}

.small-content{
    max-width: 50%;
    text-align: center;
}

.img-list {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    min-width: 50%;
    padding: 1em 5em ;
}

.presented {
    margin: 10em 0 3em 0;
}

.ellipse-variant {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.ellipse{
    background-color: #374b5c;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    margin: 2em 1em 2em 0;
}

.ellipse-aq{
    background-color: #00dbd0;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    margin: 2em 1em 2em 0;
}